<%- include("partials/header.ejs") %>
<h1 style="font-size: 1.5rem;">Search Result for :-<%=query%></h1>
<div class="d-flex flex-column bd-highlight mb-3">

    <div class="row">
        <%parsedData["Search"].forEach(element => {%>

        <div class="card col-6 col-sm-6 col-md-4 col-lg-3" style="width: 18rem;">
        <img src="<%= element["Poster"]%>" class="card-img-top" alt="Image Not Available">
        <div class="card-body">
            <h5 class="card-title"><%= element["Title"]%></h5>
            <h6 class="card-title">Released in <%=element["Year"]%></h6>
            <a href="<%=tturl%>" class="btn btn-primary" target="_blank">know more</a>
        </div>
        </div>

        <%});%>
    </div>
</div>
<a href="/" class="btn btn-success">Search Again</a>
<%- include("partials/footer.ejs") %>

